*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#head{
    max-width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: center;
}
#head .nav-image{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
}
#head .nav-content ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
#head .nav-content ul li a{
    text-decoration: none;
    color: #000000;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 16px;
    background-color: #30B868;
    color: #FFFFFF;
    cursor: pointer;
}
.button1{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 16px;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
}
.shared-color{
    color: #30B868;
}
.shared-color1{
    color: #FFFFFF;
}
.button:hover{
    background-color: yellow;
    color: #000000;
}
.button1:hover{
    background-color: yellow;
    color: #000000;
}
#banner{
    max-width: 1600px;
    height: 574px;
    background-image: url(assets/hero-bg.png);
    border: 1px solid black;
}
#banner .banner-content{
    max-width: 1360px;
    height: 379px;
    margin: 115px 120px 179px;
}
#banner .banner-content .early{
    max-width: 200px;
    height: 35px;
    background-color: #FFFFFF;
    color:#30B868;
    margin: 0 auto;
    border-radius: 1000px;
}
#banner .banner-content .early p{
    text-align: center; 
    padding-top: 10px;
}
#banner .banner-content .banner-head{
    max-width: 468px;
    height: 80px;
    margin: 0 auto;
    margin-top: 16px;
}
#banner .banner-content .banner-head h1{
    text-align: center;
}
#banner .banner-content .banner-para{
    max-width: 1360px;
    height: 60px;
    text-align: center;
    margin: 16px 310px 32px;
    color: #FFFFFF;
    font-size: 18px;
}
#banner .banner-content .btn-grp{
    margin: 32px 447px 179px;
    gap: 16px;
}
